.row {
  background: #fff;
  width: 66%;
} 
.head1 {
  color: #000;
  font-size: "42px";
  font-weight: 800;
  text-align: left;
} 

.head2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;

} 

 .head3 {
  color: #000;
  font-size: 18px;
  font-weight: 800px;
  font-weight: bold;
  padding-bottom: 20px;
}

.head3:after {
  content: "*";
  color: red
} 
.head4 {
  display: flex;
  align-items: center;
  flex-basis: 13%;
  justify-content: left;
  margin-bottom: 15px;
  margin-right: "10px";

}

.head5 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.head5:after {
  content: "*";
  color: red
} 


 .solid {
  border-top: 5px solid #302dd6;
  width: 50px;
  margin-right: 95%;
} 
.inputc{
  line-height: 1;
}
 .head11 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
} 



.head10 {
  border-radius: 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;

} 

 .head7 {
  border-radius: 25px 25px 25px 25px;

  width: 96%;
} 
.head8 {
  margin-left: 5%;
}

input {
  padding: 10px;
  border-radius: 15px;
  width: 96%;
  margin: 5px;
line-height: 2;
}
/* 
.background{
  background-image: url('');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; } */

  .heading-title{
    color:#fff;
    font-size: 5em;
    font-weight: 300;
    text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    line-height: 1;
  }
  .heading-title{
    color:black;
    font-size: 5em;
    font-weight: 300;
    text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    line-height: 1;
  }
.heading-title2{
  font-weight: bold;
  color: #2824d5;
}
  .cbutton{
    margin-left: 100%;
  }
  .transition{
    color:#000;
    margin-top: -3%;
    font-size: 5em;
    font-weight: 300;
    text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    text-align: left;
    gap:2;
  }

  .separate{
    overflow: hidden;
    margin-top: 3%;
    margin-bottom: 0;
    padding: 0 35px 80px;
  }

  .heading3{
    color:#fff;
    font-size: 5em;
    font-weight: 300;
    line-height: .95em;
    text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  }

  .heading1{
    color:#fff;
    font-family: "Segoe UI",Sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.4em;
    text-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    text-align: center;
  }

  .heading2{
    text-align: center;
  }

  .three-heading{
    text-align: center;
  }

  .slider{
    display: flex;
    flex-direction: column;
  }

  .imageslider{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
.rowstyle{
  width: 100%;
  display: flex;
  margin-left: 10%;
}

.column{
  width: 100%;
  line-height: 1em;
}
.service1{
  display: flex;
  justify-content: center;
}
.service2{
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.27em;
}

.bgtext:after {
  margin: 3rem;
  content: "What We Do";
  position: absolute;
  justify-content: center;
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  color: rgb(187, 182, 182);
  top: 0;
  left: 0;
  z-index: -1;
}

.name{
  margin-bottom: 15px;
  font-weight: bold;

}

.last{
  height: 96%;
}
.web{
  margin-top: -17%;
  height: 48%;
}
.main1{
  background: #2824d5;
  position:relative;
  z-index: 7;
}
.centers{
  display: flex;
  justify-content: center;
}
.links{
  line-height: 2;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-left: 20px;
  margin-top: 6%;
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d"
    "e e e e f f f f"
    "e e e e f f f f";
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
  align-self: start;
}
.item3 {
  grid-area: c;
  align-self: end;
}
.item4 {
  grid-area: d;
  align-self: center;
}
.item5 {
  grid-area: e;
  align-self: start;
}
.item6 {
  grid-area: f;
  align-self: end;
}

.our{
  font-family: "Segoe UI",Sans-serif;
  font-size: 56px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.experience{
  font-family: "Segoe UI",Sans-serif;
  font-size: 29.2px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 1.2em;

}

.ourtec{
  font-family: "Segoe UI",Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.latest{
  font-family: "Segoe UI",Sans-serif;
  font-size: 29.2px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 1.2em;
}

.using{
  font-family: "Segoe UI",Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.lean{
  font-family: "Segoe UI",Sans-serif;
  font-size: 29.2px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 1.2em;
}

.we{
  font-family: "Segoe UI",Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.design{
  margin:-20% 0 0;
}

.design1{
  font-family: "Segoe UI",Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #2824d5, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.tech{
  margin-left: -8%;
}

.tech1{
  display: flex;
  justify-content: center;
  text-align: justify;
  letter-spacing: 3px;

}

.num{
  display: flex;
  justify-content: center;
}

.sect{
  margin-top: -20%;
}

@keyframes example {
  0%   { left:0px; right:0px;}
  25%  { left:200px; right:0px;}
  50%  { left:200px; right:200px;}
  75%  { left:0px; right:200px;}
  100% {left:0px; right:0px;}
}
.ani {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

.imagea{
  display: flex;
  flex-direction: column;
  width: 20%;
  animation: 3s ease-in 1s infinite reverse both running slidein;
}
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}

.element {
  height: 249px;
  width: 400px;
  background-color: red;
  animation: 
    pulse 8s ease infinite alternate, 
    nudge 8s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}
.left{
  margin-left: 30%;
}
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(120px, 0);
  }
  
  80% {
    transform: translate(-120px, 0);
  }
}



