* {
  box-sizing: border-box;
  text-decoration: none;
}


.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 115%;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}

p {
  color: #fff;
}

.row {
  background: #fff;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Segoe UI", Sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.4em;
  text-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.section {
  margin-bottom: -74%;
}

h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Segoe UI", Sans-serif;
  font-size: 25.25px;
  font-weight: 400;
  line-height: 1.4em;
  text-shadow: 0 3px 4px rgb(0 0 0 / 16%)
}

.a {
  text-decoration: none;
  line-height: 1;
  color: #fff;

}

img {
  background-color: gray;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 300;
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}


.a {
  text-align: left;
  font-family: "Segoe UI", Sans-serif;
  font-size: 4.75em;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: -1.1px;
}

.b {
  color: #fff;
  font-size: 5em;
  font-weight: 300;
  line-height: .95em;
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

h1 span {
  font-size: 40px;
  margin-left: 40px;
  text-align: left;
  color: #fff;
}

.message {
  background-color: black;
  color: #fff;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  animation: openclose 10s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma;
  text-align: left;
  color: #fff;
}

@keyframes openclose {
  0% {
    top: 1rem;
  }

  5% {
    top: 2rem;
  }

  15% {
    top: 3rem;
  }

  30% {
    top: 0.2rem;
  }

  33% {
    top: 0.2rem;
  }

  35% {
    top: 0.2rem;
  }

  38% {
    top: -4.5rem;

  }

  48% {
    top: -4.5rem;
  }

  62% {
    top: -4.5rem;
  }

  66% {
    top: -4.5rem;
  }

  71% {
    top: -9rem;
  }

  86% {
    top: -9rem;
  }

  95% {
    top: -9rem;
  }

  98% {
    top: -9rem;
  }

  100% {
    top: 0;
  }
}

.head1 {
  color: #000;
  font-size: "42px";
  font-weight: 800;
  margin-right: 70%;
  text-align: left;
}

.head2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  margin-left: 4%;
  
}

.cont1 {
  width: 50%;
  height: 50px;
}

.head3 {
  margin-left: 4%;
  color: #000;
  font-size: 18px;
  font-weight: 800px;
  font-weight: bold;
  padding-bottom: 20px;
}
.head3:after{
  content:"*";
  color:red
}
.head4 {
  display: flex;
  align-items: center;
  flex-basis: 13%;
  justify-content: left;
  margin-bottom: 15px;
margin-right: "10px";
flex-wrap: wrap;
}

.head5 {
  color: #000;

  font-size: 18px;
  font-weight: 700;
  margin-left: 3%;
}

.head10 {
border: 5px solid black;
border-radius: 5px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;

}

.head7 {
  width: 87%;
}

.head8 {
  margin-left: 5%;
}

input {
  padding: 10px;
  border-radius: 15px;
  width: 87%;
  margin: 5px;

}

.button1{

}
.radio-btns{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 10px;
    flex-shrink: 0;
}

input[type = "radio"]{
  display: inline-block;
  vertical-align: bottom;
}


.new{
  margin-right: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

input[type=submit] {
  background-color: white;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  float: right;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */